<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>멋쟁이사자처럼 서강대학교 지원서 고유번호 안내</h3>
    <br/>
    <div>멋쟁이사자처럼 서강대학교에 지원하신 걸 환영합니다. <br/><br/>
    {{ name }}님의 지원서 고유번호는 <strong>{{ apply_id }}</strong>입니다. <br/>
    지원서 수정을 원하시면 <a href="https://www.likelionsg.site/recruit">공식 홈페이지 Recruit 탭</a>에서 고유번호를 입력해주세요. <br/><br/>
    서류 제출 마감일은 2024년 3월 8일 금요일 23시 59분입니다. <br/>
    </div>
    
</body>
</html>